/* zoom effect */
img {
  transition: transform 0.2s ease-in-out;
  cursor: zoom-in;
}

img:hover {
  transform: scale(1.05);
}

.site-footer .footer-col-1 {
  display: none !important;
}

.page-title {
  text-align: center;
}

