.zoomable img {
  cursor: zoom-in;
  transition: transform 0.2s ease;
}

.zoomable img:active {
  transform: scale(2);
  transform-origin: center center;
  position: relative;
  z-index: 9999;
}

.zoomable img {
  border: 5px solid blue !important;
}

